body{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1000px;
    margin: auto;
}

.box{
    background-color: rgb(150, 150, 150);
    width: 25%;
    margin: 2%;
    padding: 2%;
    float: left;
    border-radius: 20px 0px;
}